header {
    border-radius: 30px;
    background: linear-gradient(rgb(28, 146, 243), rgb(219, 217, 217));
}

.texto__cabecalho {
    align-items: center;
    color: black;
    margin-left: 550px;
    font-size: 50px;
    font-family: 'Mate SC', serif;
}

.texto {
    border-radius: 30px;
    background: linear-gradient(rgb(29, 146, 241), rgb(219, 217, 217));
    margin-top: 10px;
    font-family: 'Scheherazade New', serif;
    font-size: 25px
}

.imagem__nevasca {
    margin: 20px;
    border-radius: 30px;
    float: left;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 300px;
}